.page {
  &-main {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.architect-day {
  padding-right: 0px;
  padding-left: 0px;

  .architect-photo {
    width: 100%;
    margin: 10px 0;

    @media (min-width: 768px) {
      margin: 0 10px 5px 0;
      max-width: 40%;
      width: 40%;
      float: left;
    }
  }

  a {
    color: $white;
  }
}
