@import "../../assets/styles/variables.scss";

.jumbotron-background {
  background-color: $dark;
  margin: 15px;
  padding: 20px;
}

.jumbotron-background h1 {
  text-align: center;
}

.dislay-worklog {
  margin: 30px;
}
