.Authors-card {
    min-width: 250px;
    max-width: 250px;
    height: 25.5em;
    margin: 5px 5px;
    overflow: hidden;
    background-color: #4E5D6C;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0px;
    font-family: "Lato", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #EBEBEB;
    &:hover {
        background: #DF691A;
        border-color: #2c3f50;
        background-size: cover;
        box-shadow: -2px 9px 10px 9px #061a2f;

        .Author-card__text-fade { 
            border-color: #DF691A;
            background: linear-gradient(to top, #DF691A 0, rgba(223, 105, 26, 0.28) 100%);
        }
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.Authors-card__photo {
    border-radius: 0px;
    height: 13rem;
    object-fit: cover;
}

.Author-reference:hover {
    text-decoration: none;
}

.Author-card__text-fade{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 3em;
    border-bottom: .75em solid #4e5d6c;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(bottom,#4e5d6c 0,rgba(78, 93, 108, 0.2196078431372549) 100%);
    background: linear-gradient(to top, #4e5d6c 0, rgba(78, 93, 108, 0.2196078431372549) 100%);
}
