.Authors-card {
    background-color: #fff;
    color: black;
    margin: 5px 5px;
    font-size: .9em;
    border: 0px;
    min-width: 250px;
    max-width: 250px; 
    margin-right: auto;
    &:hover{
        background: #d9d9d9;
        background-size: cover;
    }
}

.Authors-card  img{
    height: 12rem;
}

.Author-reference:hover {
    text-decoration: none;
}
