*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
.root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: $gray-100;
  background-color: $body-bg;
}

.col-without-padding{
  padding: 0px;
  flex-grow: 0;
}

.row-custom-align {
  justify-content: left;
  align-items: center;
  margin: 0px auto;

  @media  (max-width: 770px) {
    & {
      justify-content: center;
    }
  }

  @media (min-width: 770px) {
    & {
      max-width: 520px;
    }
  }

  @media (min-width: 992px) {
    & {
      max-width: 780px;
    }
  }

  @media (min-width: 1200px) {
    & {
        max-width: 1040px;
    }
  }
 
}
