.map__container {
  width: 100%;
  height: 500px;
  margin: 20px 0px;
}

.map {
  width: 100% !important;
}

.marker__image {
  width: 30px;
  height: 30px;
  z-index: 2;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mark__container {
  position: relative;
  &:hover .mark__title {
    display: flex;
  }
}

.mark__title {
  display: none;
  position: absolute;
  top: 35px;
  white-space: nowrap;
  left: 0;
  background-color: #5bc0de;
  color: white;
  padding: 5px;
  z-index: 5;
  text-align: center !important;
}
